{{define "title"}}
GoWatch URL Cache
{{end}}

{{define "content"}}
{{ range $url, $content := .cache }}
<div class="card text-center">
    <div class="card-header">
        {{ $url }}
        <form action="{{$.urlPrefix}}cache/clear" method="post">
            <input type="hidden" name="url" value="{{ $url }}">
            <input type="submit" class="btn btn-danger btn-sm" value="Clear">
        </form>
    </div>
    <div class="card-body">
        <code class="card-text">{{ $content }}</code>
    </div>
</div>
{{ end }}
{{end}}