.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  /* Show it is fixed to the top */
  body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }

.pointer {
    cursor: pointer;
}

.node-card {
  width: 18rem;
  position: absolute;
}

.node-inputs {
  float: left;
}

.node-input {
  background-color: red;
  -webkit-user-select:none;
  -moz-user-select:-moz-none;
  -ms-user-select:none;
  user-select:none;
  cursor: pointer;
}

.node-outputs {
  float: right;
  
}

.node-output {
  margin-bottom: 1rem;
  background-color: red;
  -webkit-user-select:none;
  -moz-user-select:-moz-none;
  -ms-user-select:none;
  user-select:none;
  cursor: pointer;
}

#node-canvas {
  position: absolute;
}