<!doctype html>
<html lang="en" class="h-100">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap.5.2.0.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    
    <title>{{ template "title" .}}</title>
    {{ template "head" .}}
</head>
<body class="d-flex flex-column h-100">
    
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Go Watch</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/notifiers/view">Notifiers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" id="newWatchLink" href="/watch/create">New</a>
          </li>
          {{ template "navbar" .}}
        </ul>
        <div class="d-flex">
          <a class="nav-link btn" href="/config">Config</a>
        </div>
      </div>
    </div>
  </nav>
    <main class="flex-shrink-0">
      <div class="container">
        <div class="row">
          <div class="col-2">
            {{ template "left" .}}
          </div>
          
          <div class="col-16">
            {{ template "content" .}}
          </div>
          
          <div class="col-2">
            {{ template "right" .}}
          </div>
          
        </div>
      </div>
            
    </main>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Broodjeaap 2023</span>
      </div>
    </footer>
    <script src="/static/bootstrap.5.2.0.bundle.min.js"></script>
    <script src="/static/script.js"></script>
    {{ template "scripts" .}}
  </body>
</html>

{{define "title" }}{{ end }}
{{define "head" }}{{ end }}
{{define "navbar" }}{{ end }}
{{define "left" }}{{ end }}
{{define "right" }}{{ end }}
{{define "scripts" }}{{ end }}