{{define "head"}}
<script src="/static/diagram.js"></script>
<script src="/static/edit.js"></script>
{{ end }}
{{define "content"}}
<div class="canvas_parent">
    <canvas id="canvas">

    </canvas>
</div>
{{ end }}

{{ define "left" }}
<div>
    <button type="button" class="btn btn-primary btn-block btn-sm" data-bs-toggle="modal" data-bs-target="#FilterModal">
        Add Filter
    </button>
</div>

<div class="modal fade" id="FilterModal" tabindex="-1" aria-labelledby="FilterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="FilterModalLabel">Add Filter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <form action="/filter/create" method="post">
                        <div class="mb-3 m-3 row">
                            <label for="nameInput" class="col-sm-2 col-form-label">Name:</label>
                            <div class="col-sm-10 p-2">
                                <input type="text" class="form-control" name="filter_name" id="nameInput" placeholder="Name">
                            </div>
                            <label for="typeInput" class="col-sm-2 col-form-label">Type:</label>
                            <div class="col-sm-10 p-2">
                                <select id="typeInput" class="form-control" name="type">
                                    <option value="xpath" selected="true">XPath</option>
                                    <option value="json">JSON</option>
                                    <option value="css">CSS</option>
                                    <option value="replace">Replace</option>
                                    <option value="match">Match</option>
                                    <option value="substring">Substring</option>
                                </select>
                            </div>

                            <label for="var1" id="var1Label" class="col-sm-2 col-form-label">XPath:</label>
                            <div class="col-sm-10 p-2">
                                <input type="text" class="form-control" name="var1" id="var1Input" placeholder="//a[@class='price']">
                            </div>
                            <label for="var2" id="var2Label" class="col-sm-2 col-form-label">-</label>
                            <div class="col-sm-10 p-2">
                                <input type="text" class="form-control" name="var2" id="var2Input" placeholder="" disabled>
                            </div>
                            <label for="var3" id="var3Label" class="col-sm-2 col-form-label">-</label>
                            <div class="col-sm-10 p-2">
                                <input type="text" class="form-control" name="var3" id="var3Input" placeholder="" disabled>
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-primary mt-4"  data-bs-dismiss="modal" id="submitFilterButton">Add Filter</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{define "scripts"}}
<script>
var diagrams;
function canvasInit() {
    diagrams = new Diagrams("canvas");
    diagrams.addNode(1, 100, 100, "Test");
    diagrams.addNode(2, 300, 300, "Test2");
    diagrams.addNode(3, 500, 500, "A much longer name");
    diagrams.fillParent();
}
document.addEventListener('DOMContentLoaded', canvasInit, false);

</script>
{{ end }}