{{define "content"}}
<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Interval</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        <tr>
            <td>{{ .Name }}</td>
            <td>{{ .Interval }}</td>
            <td>
                <form action="/query/delete" method="post">
                    <input type="hidden" name="id" value="{{ .ID }}">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{end}}