{{define "content"}}
<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Interval</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        <tr class="pointer" onclick="window.location='/watch/{{ .ID }}'">
            <td class="h3">{{ .Name }}</td>
            <td class="h3">{{ .Interval }}</td>
            <td>
                <form action="/watch/delete" method="post">
                    <input type="hidden" name="watch_id" value="{{ .ID }}">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{end}}